<md-toolbar color="primary">
  <span>{{title}}</span>
  <span class="header-spacer"></span>
  <div class="header-menu-bar">
    <button md-button>
      Quienes somos
    </button>
    <button md-button>
      Servicios
    </button>
    <button md-button>
      Reserva tu hora
    </button>
    <button md-button>
      <md-icon>person</md-icon>
      Ingresar o Registrarse
    </button>
  </div>
  <button md-icon-button class="header-menu-button"
    (click)="menuLateral.toggle()">
    <md-icon>menu</md-icon>
  </button>
</md-toolbar>
<md-sidenav #menuLateral id="menuLateral" mode="push" position="start">
  <md-nav-list>
    <h3 mdSubheader>Bienvenido</h3>
    <md-divider></md-divider>
    <md-list-item>
      <a mdLine>Quienes somos</a>
    </md-list-item>
    <md-list-item>
      <a mdLine>Servicios</a>
    </md-list-item>
    <md-list-item>
      <a mdLine>Reserva tu hora</a>
    </md-list-item>
  </md-nav-list>
</md-sidenav>
