.home-title {
  width: 100%;
  min-height: 250px;
  background-color: #1F84FF;
  text-align: center;
  padding-bottom: 20px;
}

.logo {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 425px) {
  .logo {
    width: 80%;
    height: auto;
  }
}

@media screen and (min-width: 900px) {
  .logo {
    width: 60%;
    height: auto;
  }
}

@media screen and (min-width: 1150px) {
  .logo {
    width: 50%;
    height: auto;
  }
}

.home-title span {
  display: block;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.8;
  font-weight: bold;
  margin: 20px;
}

.start-image {
  background-image: url("../../assets/image-3.jpg");
}

.middle-image {
  background-image: url("../../assets/image-2.jpg");
}

.end-image {
  background-image: url("../../assets/image-1.jpg");
}

.home-parallax {
  min-height: 560px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-box {
  background-color: #fff;
  min-height: 300px;
  width: 100%;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  margin-left: 20px;
  color: rgb(134, 146, 159);
}

hr {
  width: 97%;
  color: rgb(134, 146, 159);
}

.home-box p {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: rgb(134, 146, 159);
  margin: 20px;
  font-size: 20px;
}
