<md-sidenav-container (scrolledTo)="id=$event" ngui-scrollable>
  <app-header></app-header>
  <div class="home-title">
    <img src="assets/logo.png" class="logo" />
    <span>Deja en nuestras manos el cuidado de tus pies</span>
    <button md-raised-button color="accent" *ngIf="false">
      ¡Reserva ahora ya tu consulta!
    </button>
  </div>
  <div class="home-parallax start-image">
  </div>
  <div class="home-box quienes-somos">
    <h2 id="quienesSomos">Quienes somos</h2>
    <hr/>
    <p>
      Somos una joven empresa de servicios de belleza y salud con enfoque en
      la mejor entrega de servicio donde sea de mayor comodidad para nuestros
      clientes, ya sea en la comodidad de su hogar o en nuestra clínica.
      <br/>
      <br/>
      Estamos orgullosos de entregar un servicio de calidad evolucionando
      diariamente a través de la retroalimentación de los clientes y de la
      gran experiencia de nuestro equipo de profesionales.
    </p>
    <div class="row">
      <div class="column mini">
        <img src="assets/star.png" />
        <hr>
        <p>
          Queremos ofrecer el mejor servicio así que
          diseñamos cuidadosamente cada paso durante
          la atención para que el cliente termine feliz.
        </p>
      </div>
      <div class="column mini">
        <img src="assets/calendar.png" />
        <hr>
        <p>
          A través de nuestro sistema de reservas no tendrás
          que esperar y podrás seleccionar el profesional con
          el que te quieras atender.
        </p>
      </div>
      <div class="column mini">
        <img src="assets/map.png" />
        <hr>
        <p>
          Para falicitar la entrega de nuestro servicio
          ofrecemos atención en dos modalidades, en la comodidad
          de su domicilio u oficina, o en nuestra encantadora clínica.
        </p>
      </div>
    </div>
  </div>
  <div class="home-parallax middle-image">
  </div>
  <div class="home-box sla">
    <h2 id="servicios">Servicios</h2>
    <hr/>
    <p>
      Actualmente ofrecemos los siguientes servicios:
    </p>
    <div class="row">
      <div class="column">
        <md-card class="servicio-card">
          <md-card-header>
            <md-card-title>Podología</md-card-title>
          </md-card-header>
          <img md-card-image src="assets/podologia.png" />
          <md-card-content>
            <p>
              Atención de cuidado a pies que permite el tratamiento de
              variados problemas que con constancia se dan en los pies,
              permitiendo así lucir pies sanos y lindos.
            </p>
          </md-card-content>
        </md-card>
      </div>
      <div class="column">
        <md-card class="servicio-card">
          <md-card-header>
            <md-card-title>Manicure</md-card-title>
          </md-card-header>
          <img md-card-image src="assets/manicure.jpg" />
          <md-card-content>
            <p>
              Cuida tus manos como muestra de belleza y cuidado para
              lucir bellas y vigorizantes manos. Tus manos te agradecerán
              y te sentirás más comodo.
            </p>
          </md-card-content>
        </md-card>
      </div>
    </div>
    <p>
      ¡Todos con atención en nuestra clínica o a domicilio!
    </p>
  </div>
  <div class="home-parallax end-image">
  </div>
  <div class="home-box contacto">
    <h2 id="contacto">Contacto</h2>
    <hr/>
    <h3>Happy Foot</h3>
    <h4>Servicios de cuidado y belleza</h4>
    <p>
      <md-icon>place</md-icon>
      <span class="contacto-link">
        Manquehue Norte 1407 of. 26 Vitacura
      </span>
      <br/>
      <md-icon>phone</md-icon>
      <a class="contacto-link" href="tel:+56976182668">+569 76182668</a>
      <br/>
      <md-icon>email</md-icon>
      <a class="contacto-link" href="mailto:contacto@happyfoot.cl">
        contacto@happyfoot.cl
      </a>
    </p>
    <br/>
    <ngui-map center="Manquehue Norte 1407, Vitacura, Santiago" zoom="16">
      <marker position="Manquehue Norte 1407, Vitacura, Santiago"
       [icon]="{
         url: 'assets/placeholder.png',
         anchor: [16,16],
         size: [32,32],
         scaledSize: [32,32]
       }">
      </marker>
    </ngui-map>
  </div>
</md-sidenav-container>
